# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.cyclo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM
*.su
*.idb
*.pdb
*.list

# STM32CubeIDE / Eclipse Managed Build Files
# We need these for CI build to work because they contain the file lists and rules
*.mk
!**/Release/**/subdir.mk
!**/Release/objects.list
!**/Release/makefile

*.prefs
*.launch

*.xml
